<div class="jumbotrom bg-secondary bg-gradient p-3">
  <div class="container">
    <h1>Leandro Modelo MVC</h1>
    <p>Model - View - Controller</p>

    <a href="{{URL}}"><button id="btn-home" class="btn-menu btn btn-outline-light active">HOME</button></a>
    <a href="{{URL}}/sobre"><button id="btn-sobre" class="btn-menu btn btn-outline-light">SOBRE</button></a>
    <a href="{{URL}}/cadastroUsuario"><button id="btn-cadastroUsuario" class="btn-menu btn btn-outline-light">CADASTRO</button></a>
    <a href="{{URL}}/depoimentos"><button id="btn-depoimentos" class="btn-menu btn btn-outline-light">DEPOIMENTOS</button></a>
  </div>
</div>